/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container, .login-container, .error-container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }